/* table css  */
table tr td .btn i {
    font-size: 13px !important;
}

/* settings css  */

.nav-pills .nav-link.active {
    background: #13bfa6;
}

/* form css  */


/* others  */

.dropdown-toggle::after {
    display: none;
}

.card {
    border: 1px solid #dde1ea;
}

.card .card-header {
    background: #dde1ea;
}

.card-header .card-title i {
    display: inline;
    color: #333;
    font-size: 18px;
}

.card .card-header .card-title {
    text-transform: capitalize;
    font-size: 18px;
    color: #333;
}

.dropdown-menu.show {
    inset: 13px 0px auto auto;
}

ul.dropdown-menu {
    border-radius: 4px !important;
    box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.5);
    background: #f8f9f8;
}

ul.dropdown-menu li a {
    font-size: 16px;
    color: #000;
}

ul.dropdown-menu li {
    min-width: 200px;
    border-bottom: 0.5px solid #78859f;
    border-radius: 4px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: #7987a1c4;
    color: #fff;
}

.form-control {
    border-color: #7987a1c4 !important;
    color: #000 !important;
    padding: 8px 5px;
    font-size: 16px;
}

span.input-group-text {
    border-color: #7987a1c4 !important;
    color: #000 !important;
}

.select2-container .select2-selection--single {
    border-color: #7987a1c4;
    padding: 0px;
    font-size: 16px;
    height: 40px;
}

.select2-container--open .select2-dropdown--above,
span.select2-dropdown.select2-dropdown--below {
    border-radius: 0.5rem !important;
    box-shadow: 0px 10px 15px lightgray;
    overflow: hidden !important;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid lightgray !important;
    border-radius: 0.5rem !important;
}
.select2-search--dropdown .select2-search__field:focus-visible {
    outline: 0 !important;
    border-radius: 0.5rem !important;
}

.select2-container--default .select2-results>.select2-results__options, .select2-results__option {
    margin: 0px !important;
}

.form-control::placeholder {
    color: #5b5a5a;
    opacity: 1;
    /* Firefox */
}

.table thead th {
    vertical-align: bottom;
    text-transform: capitalize;
    font-size: 15px !important;
    vertical-align: middle;
}



/* all modals custom css  */

.modal-header {
    background: #13bfa6;
    padding: 10px;
}

.modal-header .modal-title {
    color: #fff;
    margin-left: 10px;
}

.modal-header .btn-close {
    margin-right: 0px;
    font-size: 28px;
    color: #000 !important;
}

.modal .form-control {
    border-color: #13bfa699 !important;
    color: #000 !important;
}

.modal span.input-group-text {
    border-color: #13bfa699 !important;
    color: #000 !important;
}

.modal .select2-container .select2-selection--single {
    border-color: #13bfa699;
}

.modal .form-control::placeholder {
    color: #5b5a5a;
    opacity: 1;
    /* Firefox */
}

.modal button.btn {
    color: #fff !important;
}
