input[type="text"].form-control,
input[type="number"].form-control,
input[type="password"].form-control,
input[type="email"].form-control,
input[type="time"].form-control,
.checkbox-input,
#barcode_number {
    border-left: 1px unset !important;
    border-right: 1px unset !important;
    border-top: 1px unset !important;
    border-radius: 15px 15px 15px 15px;
    color: black;
    height: 45px;
    display: flex;
    align-items: center;
}

#barcode_number {
    border-left: 1px unset !important;
    border-right: 1px unset !important;
    border-top: 1px unset !important;
    border-radius: 0px 15px 15px 0px;
    color: black;
    height: 45px;
    display: flex;
    align-items: center;
}

/* For select option input */
input[type="file"].form-control,
select.form-control {
    border-radius: 15px 15px 15px 15px !important;
    height: 45px;
}

/* ----------------------------------------------------------------------- input file */
input[type="file"]::before {
    content: "Choose a file";
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

input[type="file"]:hover::before {
    background-color: #2980b9;
}

input[type="file"]:active::before {
    background-color: #2c3e50;
}

/* Adjust styles for the default "Choose File" text inside the input */
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: "Choose a file";
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
}

input[type="file"]:hover::before {
    background-color: #2980b9;
}

input[type="file"]:active::before {
    background-color: #2c3e50;
}
/* ----------------------------------------------------------------------- input file */

/* For select2 */
.select2-selection--single {
    border-radius: 10px 10px 10px 10px !important;
    height: 45px !important;
    display: flex;
    align-items: center;
}

.select2-selection__placeholder {
    color: black !important;
    height: 45px !important;
    display: flex;
    align-items: center;
}

.swal2-input {
    box-sizing: border-box;
    width: 87% !important;
    height: auto !important;
    padding: 10px !important;
    font-size: 16px;
}

.input-group .select2-selection--single {
    border-radius: 15px 0px 0px 15px !important;
    height: 45px !important;
    display: flex;
    align-items: center;
}
.input-group .select2-selection__rendered,
.select2-selection__rendered {
    display: flex !important;
    padding-left: 15px !important;
}
.input-group .select2-selection__placeholder {
    color: black !important;
    height: 45px !important;
    display: flex;
    align-items: center;
}

/* For Add modal button */
.add-btn {
    border-radius: 0px 15px 15px 0px !important;
    display: flex;
    align-items: center;
}

input[type="text"].form-control:hover,
input[type="text"].form-control:focus,
input[type="number"].form-control:hover,
input[type="number"].form-control:focus,
input[type="password"].form-control:hover,
input[type="password"].form-control:focus,
input[type="email"].form-control:hover,
input[type="email"].form-control:focus,
input[type="time"].form-control:hover,
input[type="time"].form-control:focus {
    border-bottom: 3px solid #d3d3d3 !important;
}

/* for input label animation */
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px 10px 2px 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

.animated-label {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 10px 15px 0px 0px;
    padding: 2px 100px 2px 10px;
    transition: all 0.3s ease-out;
    pointer-events: none;
    color: #000000;
    background-color: white;
    border-radius: 0.5rem !important;
}
.active-label {
    transform: translateY(-1.9em);
    transition-duration: 0.2s !important;
    font-size: 0.8em;
    background-color: #2584a9;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]:focus + label,
input[type="number"]:focus + label,
input[type="password"]:focus + label,
input[type="email"]:focus + label {
    transform: translateY(-1.9em);
    transition-duration: 0.2s !important;
    font-size: 0.8em;
    background-color: #2584a9;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]:user-valid + label,
input[type="number"]:user-valid + label,
input[type="password"]:user-valid + label,
input[type="email"]:user-valid + label {
    transform: translateY(-1.9em);
    transition-duration: 0.2s !important;
    font-size: 0.8em;
    background-color: #2584a9;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.input-group {
    border-radius: 0.5rem !important;
}

.form-switch-indicator {
    border-radius: 1rem !important;
}

#order_table input {
    border-radius: unset !important;
    background-color: white !important;
    color: black;
    padding: 0px 10px !important;
    border-radius: 5px !important;
}
#order_table th {
    color: black;
}

.tooltip-inner {
    background-color: #38c7ff !important;
}

/* Card design --------------------------------------------------------------------------------------- */

.card {
    border-left: 1px unset !important;
    border-right: 1px unset !important;
    border-top: 1px unset !important;
    /* border-bottom: 7px solid skyblue !important; */
    border-radius: 15px 15px !important;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: none !important;
}
.card:hover {
    transition-duration: 0.3s;
    box-shadow: 0px 1px 10px #2d454f59 !important;
}

.side-menu__icon{
    filter: brightness(0) !important;
}
.side-menu__item:hover .side-menu__icon{
    filter: brightness(1) !important;
}
.side-menu__item.active .side-menu__icon{
    filter: brightness(1) !important;
}
.slide.is-expanded .side-menu__item .side-menu__icon{
    filter: brightness(1) !important;
}

.input-group {
    margin-right: -1px !important;
}
.select2-container--open .select2-dropdown--above,
span.select2-dropdown.select2-dropdown--below {
    border-radius: 0.5rem !important;
    box-shadow: 0px 10px 15px lightgray;
    overflow: hidden !important;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid lightgray !important;
    border-radius: 0.5rem !important;
}
.select2-search--dropdown .select2-search__field:focus-visible {
    outline: 0 !important;
    border-radius: 0.5rem !important;
}

.select2-container--default .select2-results>.select2-results__options, .select2-results__option {
    margin: 0px !important;
}
