@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$black: #25282b;
$green: #5d8834;
$lightGreen: #558b2f;
$brown: #4f4038;
$grey: #606060;
$star: #ffc107;
$slider-button: #d9d9d9;
$card-border: #f1f1f1;
$secondary-color: #dce775;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  color: $black;
  text-align: center;
  padding-bottom: 100px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.section-heading {
  font-size: 45px;
  font-weight: 600;
  font-family: "Playfair Display";
  line-height: 60px;
  text-align: center;
}

.section-sub-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  font-family: "Playfair Display";
}

/* cards */
.card-type {
  color: $grey;
  transition: 0.2s;
}

.card-type:hover {
  color: $lightGreen;
  cursor: pointer;
}

.card-name {
  font-weight: 600;
  font-family: "Playfair Display";
  font-size: 18px;
  line-height: 24px;
  margin-top: 14px;

  a {
    text-decoration: none;
    color: $black;
    transition: 0.5s;
    &:hover {
      color: $green;
      transition: 0.5s;
    }
  }
}

.card-price {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 18px;
  margin-top: 15px;
  color: $grey;
}

.card-button {
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-right: 15px;
  border: 1px solid rgba(93, 136, 52, 0.15);
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button:hover {
  background-color: $green;
  color: white;
}

.card-discount {
  background-color: $lightGreen;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.fa-star {
  font-size: 12px;
}

.heading-1 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Playfair Display";
  line-height: 40px;
  color: $green;
}

.heading-2 {
  font-weight: 700;
  font-family: "Playfair Display";
  font-size: 70px;
  line-height: 93px;
}

/* hero heading */
#hero {
  position: relative;

  .hero-image {
    z-index: -1;
    width: 100%;
    height: 100%;
    div {
      width: 100%;
      height: 100%;
      max-height: 800px;
      img {
      }
    }
    &.owl-carousel {
      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px;

        button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: $green !important;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;

          &:hover {
            background: red !important;
          }
          span {
            margin-top: -9px;
            font-size: 35px;
            color: white;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .hero-text-wrapper {
    .hero-card {
      max-width: 623px;

      .hero-text {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hero-button {
          display: flex;
          .button-1 {
            a {
              color: white;
              text-decoration: none;
            }
            &:hover a {
              color: $black;
            }
          }
          .button-2 {
            a {
              color: $green;
              text-decoration: none;
            }
            &:hover a {
              color: white;
            }
          }
        }
      }
    }
  }
}

/* selling */

#selling {
  .selling-top,
  .selling-bottom {
    display: flex;
    .selling-img {
      position: relative;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      .selling-wrap {
        transition: 0.5s;
      }
      img {
        width: 100%;
        transition: 0.5s;
      }
    }
    .selling-duo {
      display: flex;
      .selling-img {
        width: 100%;
        .selling-wrap {
          transition: 0.5s;
          height: 100%;
        }
        img {
          transition: 0.5s;
        }
      }
    }
  }
}

.marg-30,
.marg-d-30 {
  margin-right: 30px;
}

.selling-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: 0.5s ease;
}

.selling-img:hover .selling-wrap {
  color: white;
  transition: 0.5s;
  img {
    transition: 0.5s;
    scale: 1.2;
  }
  .heading-3 {
    color: white;
    transition: 0.5s;
  }
}

.selling-img:hover .selling-overlay {
  opacity: 1;
  background-color: rgba(93, 136, 52, 0.5);
}

.selling-card-text-1 {
  z-index: 1;
  position: absolute;
  width: fit-content;
  top: 61px;
  text-align: center;
  .heading-3 {
    margin-bottom: 10px;
    color: $lightGreen;
    transition: 0.5s;
  }
  .heading-4 {
    margin-bottom: 30px;
  }
  .button-1 {
    margin: 0 auto;
    a {
      color: white;
      text-decoration: none;
    }
    &:hover a {
      color: $black;
    }
  }
}

.selling-card-text-2 {
  // color: black;
  z-index: 1;
  width: fit-content;
  position: absolute;
}

.selling-card-text-3 {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: -80px;
  display: flex;
  height: 100%;
  width: 250px;
  align-items: center;
  justify-content: center;

  .heading-5 {
    rotate: 90deg;
  }
}

.selling-card-text-4 {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: -80px;
  display: flex;
  height: 100%;
  width: 250px;
  align-items: center;
  justify-content: center;

  .heading-5 {
    rotate: 270deg;
  }
}

.selling-card-text-5 {
  z-index: 1;
  width: fit-content;
  position: absolute;
}

.selling-card-text-6 {
  z-index: 1;
  position: absolute;
  width: fit-content;
  top: 72px;
  left: 76px;
  text-align: center;
  .heading-4 {
    margin-bottom: 5px;
  }
  .heading-3 {
    margin-bottom: 30px;
    color: $lightGreen;
    transition: 0.5s;
  }
  .button-1 {
    margin: 0 auto;
    a {
      color: white;
      text-decoration: none;
    }
    &:hover a {
      color: $black;
    }
  }
}

.heading-3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
  line-height: 30px;
}

.heading-4 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Playfair Display";
  line-height: 60px;
}

.heading-5 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Playfair Display";
  line-height: 60px;
}

// arrival

#arrival {
  .section-heading {
    margin-bottom: 0;
  }
  .arrival-head-list {
    margin-top: 3px;
  }

  .arrival-button {
    display: flex;
    justify-content: center;
    font-family: "Playfair Display";
    text-align: center;
    margin-top: 40px;
    .button-1 {
      a {
        color: white;
        text-decoration: none;
      }
      &:hover a {
        color: $black;
      }
    }
  }
}

// best product

#best-product {
  .product-card {
    .img-wrapper {
      width: 100%;
      height: 100%;
      .best-card-icon {
        display: none;
        position: absolute;
        bottom: 20px;

        i {
          font-size: 12px;
        }
      }
    }
    &:hover .best-card-icon {
      display: flex;
    }

    .best-card-text {
      text-align: center;
      .best-card-star {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          margin: 0 4px;
          color: $star;
        }
      }
    }
  }
}

// top rated product

#top-rated-product {
  .section-heading {
    margin-bottom: 45px;
  }

  .top-card-body {
    .top-card-row {
      margin-top: 30px;
      display: grid;
      gap: 24px;

      .top-card {
        border: 1px solid $card-border;
        display: flex;
        flex-direction: row;

        .top-card-text {
          margin: 35px auto;
          padding: 0 10px;

          .top-card-star {
            display: flex;
            i {
              margin: 0 4px;
              color: $star;
            }
          }

          .top-card-icon {
            display: flex;

            a {
              color: #000;
            }

            i {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/* time */

#time {
  .container {
    background-image: url("../images/home/time/collection-bg-img\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    // height: 500px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      .heading-9 {
        font-weight: 600;
        line-height: 40px;
        font-family: "Playfair Display";
        text-align: center;
        margin: 0 auto;
      }

      .wrapper {
        .time-clock {
          display: flex;
          justify-content: center;
          margin-top: 35px;

          p {
            background-color: white;
            text-align: center;
            font-weight: 600;
            border-bottom: 3px solid $lightGreen;
            margin-right: 20px;
          }
        }
      }

      .time-button {
        text-align: center;
        font-family: "Playfair Display";
        .button-1 {
          margin: 0 auto;
          a {
            color: white;
            text-decoration: none;
          }
          &:hover a {
            color: $black;
          }
        }
      }
    }
  }
}

// best-product

.product-slider {
  display: flex;
  justify-content: center;
  p {
    margin-right: 8px;
    margin-top: 24px;
    font-size: 20px;
    color: $slider-button;
    .active {
      color: $green;
      font-size: 25px;
    }
  }
}

/* subscribe */

.heading-6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}

#subscribe {
  overflow: hidden;
  .subscribe-body {
    .join-newsletter {
      background-image: url(../images/home/subscribe/join-newsletter.png);
      // height: 350px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .join-newsletter-text {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        .section-sub-heading {
          margin-bottom: 13px;
        }
        .heading-6 {
          margin-bottom: 42px;
        }
        .subscribe-input {
          display: flex;
          input {
            height: 62px;
            width: 100%;
            border: none;
            font-family: "Playfair Display";
            padding-left: 21px;
            outline: none;
          }
          .button-1 {
            a {
              color: white;
              text-decoration: none;
            }
            &:hover a {
              color: $black;
            }
          }
        }
      }
    }
    .first-image,
    .second-image,
    .third-image,
    .fourth-image,
    .fifth-image {
      position: relative;
      cursor: pointer;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .img-bg {
        transition: 0.8s ease;
      }

      .instagram-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 111;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        transition: 0.8s ease;
        opacity: 0;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .instagram-overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        transition: 0.8s ease;
        @media (max-width: 768px) {
          display: none;
        }
      }

      &:hover {
        .img-bg {
          scale: 1.3;
          transition: 0.8s ease;
        }

        .instagram-logo {
          transition: 0.8s ease;
          opacity: 1;
        }

        .instagram-overlay {
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

/* article */

.heading-7 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: $lightGreen;
}

.heading-8 {
  font-family: "Playfair Display", serif !important;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  // .card-type {
  //   margin: 0 35px;
  // }
}

#article {
  .article-card-body {
    display: grid;

    .article-card {
      cursor: pointer;
      border: 1px solid #f0f4ec;
      width: fit-content;
      .heading-7 {
        margin-bottom: 15px;
      }
      .heading-8 {
        margin-bottom: 15px;
        transition: 0.5s;
        text-decoration: none;
        color: black;
        &:hover {
          color: $green;
          transition: 0.5s;
        }
      }

      .article-details {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: $grey;
        margin: auto;
        margin-top: 15px;
      }

      .article-name {
        font-weight: 600;
        font-size: 16px;
        font-family: "Playfair Display";
        line-height: 21px;
      }

      .article-designation {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $grey;
        margin-top: 5px;
      }

      .article-writer-info {
        display: flex;
        margin-top: 21px;
        img {
          margin-right: 11px;
        }
      }

      .article-img {
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
          transition: 0.5s;
        }
      }
      &:hover .article-img img {
        scale: 1.2;
        transition: 0.5s;
        opacity: 0.5;
      }
    }
  }
}

/* contact */

#contact {
  position: relative;
  .container {
    background-color: white;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;
      .contact-card {
        margin-top: 25px;
        margin-bottom: 31px;
        width: 280px;
        padding-right: 10px;
        padding-left: 10px;
        .contact-card-body {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            margin-right: 19px;
          }

          .contact-head {
            margin-bottom: 10px;
          }
          .contact-text {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.contact-head {
  font-weight: 600;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 26.5px;
}

.contact-text {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 21.33px;
}

/* footer */

.footer-heading {
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  font-family: "Playfair Display";
}

#footer {
  background-image: url(../images/home/footer/bg.png);
  color: white;
  font-family: "Montserrat";
  .footer-items {
    border-bottom: 1px solid #dce775;
    i {
      background: $secondary-color;
      border-radius: 50%;
      color: $green;
      padding: 22px 19px;
      position: absolute;
      right: 8.85%;
      bottom: -25px;
    }
    .container {
      display: flex;
      padding-top: 171px;
      height: 518px;
      .footer-1 {
        img {
          width: 217px;
          height: 56.5px;
        }
        .heading-7 {
          color: white;
          line-height: 24px;
          text-align: justify;
          margin-top: 19px;
        }
        .footer-icons {
          i {
            margin-right: 22px;
            background: none;
            border-radius: 0%;
            color: white;
            position: static;
            padding: 0;
          }
        }
      }

      .footer-2 {
        text-align: center;
        .footer-heading {
          margin-bottom: 40px;
        }
        ul {
          width: fit-content;
          padding-left: 0;
          text-align: left;
          margin: 0 auto;
          li {
            list-style: none;
            margin-bottom: 10px;
          }
        }
      }

      .footer-3 {
        text-align: center;
        .footer-heading {
          margin-bottom: 40px;
        }
        ul {
          text-align: center;
          text-align: left;
          margin: 0 auto;
          li {
            list-style: none;
            display: flex;
            margin-bottom: 20px;
            height: 100%;
            img {
              height: 100%;
              margin-right: 17px;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }

      .footer-4 {
        text-align: center;
        .footer-heading {
          margin-bottom: 40px;
        }
        ul {
          width: fit-content;
          padding-left: 0;
          text-align: left;
          margin: 0 auto;
          li {
            list-style: none;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .copyright {
    .container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 17px;
      .card-price {
        align-items: center;
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .payment-methods {
        height: 100%;
      }
    }
  }
}

// media query

@media (min-width: 0px) {
  #hero {
    // background-color: red;
    height: 500px;
    .hero-image {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .hero-text-wrapper {
      .hero-card {
        position: absolute;
        top: 0;
        text-align: left;
        height: 100%;
        max-width: 323px;
        .hero-text {
          .heading-1 {
            font-size: 25px;
          }
          .heading-2 {
            font-size: 30px;
            line-height: 45px;
          }
          .hero-button {
            flex-direction: column;
            margin-top: 10px;
            width: 50%;

            @media (max-width: 768px) {
              .button-1 {
                width: 100%;
              }
            }

            .button-2 {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }

  #selling {
    margin-top: 0px;
    .selling-top,
    .selling-bottom {
      flex-direction: column;

      .selling-img {
        margin-top: 30px;
      }
    }

    .marg-d-30 {
      margin-right: 0;
    }

    .selling-card-text-1 {
      top: 15%;
      right: 10%;
      .heading-3 {
        font-size: 10px;
        line-height: 10px;
      }
      .heading-4 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px;
      }
      .button-1 {
        height: 30px;
        min-width: 0;
        padding: 0px 15px;
      }
    }

    .selling-card-text-2 {
      top: 30%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 20px;
        line-height: 30px;
      }
      .heading-3 {
        font-size: 10px;
        line-height: 20px;
      }
    }

    .selling-card-text-3 {
      right: -105px;
      .heading-5 {
        font-size: 12px;
      }
    }

    .selling-card-text-4 {
      left: -105px;
      .heading-5 {
        font-size: 12px;
      }
    }

    .selling-card-text-5 {
      top: 30%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 18px;
        line-height: 30px;
      }
      .heading-3 {
        font-size: 10px;
        line-height: 20px;
      }
    }

    .selling-card-text-6 {
      top: 15%;
      left: 10%;
      .heading-4 {
        font-size: 20px;
        line-height: 20px;
      }
      .heading-3 {
        font-size: 10px;
        margin-bottom: 10px;
      }
      .button-1 {
        height: 30px;
        min-width: 0;
        padding: 0px 15px;
      }
    }
  }

  #arrival {
    margin-top: 30px;

    .section-heading {
      font-size: 30px;
    }
    .arrival-head-list {
      margin-top: 7px;
    }
    .heading-8 {
      font-size: 15px;
      margin-bottom: 30px;
      .card-type {
        margin: 0 5px;
      }
    }

    .arrival-button {
      margin-top: 30px;
    }
  }

  #best-product {
    .section-heading {
      font-size: 30px;
      margin-bottom: 0;
    }
    .container {
      margin-top: 13px;
    }
  }

  #top-rated-product {
    .section-heading {
      font-size: 30px;
      margin-bottom: 0px;
    }
    .top-card-body {
      .top-card-row {
        margin-top: 12px;
        grid-template-columns: 1fr;
        .top-card {
          .top-card-text {
            .card-name {
              font-size: 17px;

              @media (max-width: 767px) {
                font-size: 14px;
              }
            }
            .card-price {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  #time {
    .container {
      div {
        .heading-9 {
          width: 250px;
          font-size: 30px;
        }
        .wrapper {
          .time-clock {
            p {
              width: 50px;
              height: 50px;
              padding: 3px;
            }
          }
        }

        .time-button {
          // padding-bottom: 50px;
          text-align: center;
          font-family: "Playfair Display";
          .button-1 {
            margin: 0 auto;
          }
        }
      }
    }
  }

  #subscribe {
    margin-top: 30px;
    .subscribe-body {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 24px;
      .join-newsletter {
        grid-area: 1 / 1 / 2 / 2;
        .join-newsletter-text {
          padding: 2.5rem;
          text-align: center;
          .section-sub-heading {
            font-size: 20px;
          }

          .heading-6 {
            font-size: 14px;
          }

          .subscribe-input {
            flex-direction: column;
            .button-1 {
              margin-top: 20px;
            }
          }
        }
      }
      .first-image {
        grid-area: 2 / 1 / 3 / 2;
      }
      .second-image {
        grid-area: 3 / 1 / 4 / 2;
      }
      .third-image {
        grid-area: 4 / 1 / 5 / 2;
      }
      .fourth-image {
        grid-area: 5 / 1 / 6 / 2;
      }
      .fifth-image {
        grid-area: 6 / 1 / 7 / 2;
      }
    }
  }

  #article {
    .section-heading {
      font-size: 30px;
    }
    .article-card-body {
      margin-top: 15px;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 24px;
      .article-card {
        padding: 20px;
      }
    }
  }

  #footer {
    margin-top: 60px;
    .footer-items {
      .container {
        flex-direction: column;
        height: auto;
        padding-top: 100px;
        justify-content: center;
        .footer-1 {
          text-align: center;
        }
        .footer-2 {
          margin-top: 50px;
          .footer-heading {
            margin-bottom: 20px;
          }
        }
        .footer-3 {
          margin-top: 50px;
          .footer-heading {
            margin-bottom: 20px;
          }
          ul {
            li {
              justify-content: flex-start;
              align-items: center;
            }
          }
        }
        .footer-4 {
          margin-top: 50px;
          .footer-heading {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 380px) {
  #selling {
    .selling-card-text-1 {
      top: 20%;
      right: 10%;
    }
  }
}

@media (min-width: 450px) {
  .container {
    max-width: 435px;
  }

  #selling {
    .selling-card-text-1 {
      top: 20%;
      // left: 50%;
      .heading-3 {
        font-size: 15px;
        line-height: 20px;
      }
      .heading-4 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
      }
      .button-1 {
        height: 30px;
        min-width: 0;
        padding: 0px 25px;
      }
    }

    .selling-card-text-2 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 25px;
        line-height: 30px;
      }
      .heading-3 {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .selling-card-text-3 {
      right: -95px;
      .heading-5 {
        font-size: 17px;
      }
    }

    .selling-card-text-4 {
      left: -95px;
      .heading-5 {
        font-size: 17px;
      }
    }

    .selling-card-text-5 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 25px;
        line-height: 30px;
      }
      .heading-3 {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .selling-card-text-6 {
      top: 20%;
      left: 15px;
      .heading-4 {
        font-size: 30px;
        line-height: 40px;
      }
      .heading-3 {
        font-size: 15px;
        margin-bottom: 20px;
      }
      .button-1 {
        height: 30px;
        min-width: 0;
        padding: 0px 25px;
      }
    }
  }

  #arrival {
    .heading-8 {
      .card-type {
        margin: 0 15px;
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 520px;
  }

  #hero {
    .hero-text-wrapper {
      .hero-card {
        .hero-text {
          .heading-1 {
            font-size: 20px;
          }
          .heading-2 {
            font-size: 30px;
            line-height: 50px;
          }
          .hero-button {
            margin-top: 10px;
          }
        }
      }
    }
  }

  #selling {
    margin-top: 30px;
    .selling-card-text-1 {
      top: 25%;
      // left: 300px;
      .heading-3 {
        font-size: 15px;
        line-height: 20px;
      }
      .heading-4 {
        font-size: 30px;
        line-height: 40px;
      }
      .button-1 {
        height: 40px;
        min-width: 0;
        padding: 0px 25px;
      }
    }

    .selling-card-text-2 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 30px;
        line-height: 30px;
      }
      .heading-3 {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .selling-card-text-3 {
      .heading-5 {
        font-size: 22px;
      }
    }

    .selling-card-text-4 {
      .heading-5 {
        font-size: 22px;
      }
    }

    .selling-card-text-5 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 30px;
        line-height: 30px;
      }
      .heading-3 {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .selling-card-text-6 {
      top: 60px;
      left: 40px;
      .heading-4 {
        font-size: 30px;
        line-height: 40px;
      }
      .heading-3 {
        font-size: 15px;
        margin-bottom: 20px;
      }
      .button-1 {
        height: 40px;
        min-width: 0;
        padding: 0px 25px;
      }
    }
  }

  #time {
    .container {
      div {
        .heading-9 {
          width: 300px;
          font-size: 25px;
          // padding-top: 80px;
        }
        .wrapper {
          .time-clock {
            p {
              width: 60px;
              height: 60px;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 758px;
  }

  #hero {
    .hero-text-wrapper {
      .hero-card {
        max-width: 523px;
        text-align: left;
        .hero-text {
          .heading-1 {
            font-size: 30px;
          }
          .heading-2 {
            font-size: 40px;
            line-height: 50px;
          }
          .hero-button {
            flex-direction: row;
            margin-top: 30px;
            width: 100%;
            .button-2 {
              margin-left: 20px;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }

  #selling {
    margin-top: 70px;
    .selling-card-text-1 {
      top: 25%;
      // left: 400px;
      .heading-3 {
        font-size: 20px;
        line-height: 30px;
      }
      .heading-4 {
        font-size: 40px;
        line-height: 60px;
      }
      .button-1 {
        height: 60px;
        min-width: 170px;
        padding: 0px 35px;
      }
    }

    .selling-card-text-2 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 50px;
        line-height: 30px;
        margin-bottom: 50px;
      }
      .heading-3 {
        font-size: 25px;
        line-height: 20px;
      }
    }

    .selling-card-text-3 {
      right: -85px;
      .heading-5 {
        font-size: 30px;
      }
    }

    .selling-card-text-4 {
      left: -85px;
      .heading-5 {
        font-size: 30px;
      }
    }

    .selling-card-text-5 {
      top: 120px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 50px;
        line-height: 30px;
        margin-bottom: 50px;
      }
      .heading-3 {
        font-size: 25px;
        line-height: 20px;
      }
    }

    .selling-card-text-6 {
      top: 100px;
      left: 50px;
      .heading-4 {
        font-size: 40px;
        line-height: 60px;
      }
      .heading-3 {
        font-size: 15px;
        margin-bottom: 15px;
      }
      .button-1 {
        height: 60px;
        min-width: 0;
        padding: 0px 35px;
      }
    }
  }

  #top-rated-product {
    .top-card-body {
      .top-card-row {
        grid-template-columns: 1fr 1fr;
        .top-card {
          .top-card-text {
            .card-name {
              font-size: 18px;
            }
            .card-price {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  #article {
    .article-card-body {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 24px;
    }
  }

  #subscribe {
    margin-top: 110px;
    .subscribe-body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .join-newsletter {
        grid-area: 1 / 1 / 2 / 4;
      }
      .first-image {
        grid-area: 2 / 1 / 4 / 2;
      }
      .second-image {
        grid-area: 2 / 2 / 3 / 3;
      }
      .third-image {
        grid-area: 2 / 3 / 3 / 4;
      }
      .fourth-image {
        grid-area: 3 / 2 / 4 / 3;
      }
      .fifth-image {
        grid-area: 3 / 3 / 4 / 4;
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }

  #hero {
    background-position: center;

    .hero-text-wrapper {
      .hero-card {
        position: absolute;
        top: 0;
        text-align: left;
        height: 100%;
        max-width: 523px;
        .hero-text {
          .heading-1 {
            font-size: 27px;
          }
          .heading-2 {
            font-size: 50px;
            line-height: 60px;
          }
          .hero-button {
            margin-top: 40px;
          }
        }
      }
    }
  }

  #selling {
    margin-top: 100px;
    .selling-card-text-1 {
      top: 20%;
      // left: 400px;
      .heading-3 {
        font-size: 30px;
        line-height: 60px;
      }
      .heading-4 {
        font-size: 60px;
        line-height: 120px;
      }
      .button-1 {
        font-size: 25px;
        height: 80px;
        min-width: 280px;
        padding: 0px 35px;
      }
    }

    .selling-card-text-2 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 60px;
        line-height: 30px;
        margin-bottom: 80px;
      }
      .heading-3 {
        font-size: 30px;
        line-height: 20px;
      }
    }

    .selling-card-text-3 {
      right: -50px;
      .heading-5 {
        font-size: 30px;
      }
    }

    .selling-card-text-4 {
      left: -50px;
      .heading-5 {
        font-size: 30px;
      }
    }

    .selling-card-text-5 {
      top: 150px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 60px;
        line-height: 30px;
        margin-bottom: 80px;
      }
      .heading-3 {
        font-size: 30px;
        line-height: 20px;
      }
    }

    .selling-card-text-6 {
      top: 10%;
      left: 50px;
      .heading-4 {
        font-size: 60px;
        line-height: 120px;
      }
      .heading-3 {
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 60px;
      }
      .button-1 {
        font-size: 25px;
        height: 80px;
        min-width: 280px;
        padding: 0px 35px;
      }
    }
  }

  #arrival {
    margin-top: 115px;
    .section-heading {
      font-size: 45px;
    }
    .arrival-head-list {
      margin-top: 25px;
    }

    .heading-8 {
      font-size: 24px;
      .card-type {
        margin: 0 35px;
      }
    }

    .best-card-body {
      .best-card-row {
        margin-top: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: static;
      }
    }
    .arrival-button {
      margin-top: 40px;
    }
  }

  #best-product {
    .section-heading {
      font-size: 45px;
    }
    .container {
      margin-top: 31px;
      .product-card {
        padding-bottom: 0;
      }
    }
  }

  #subscribe {
    .subscribe-body {
      // height: 350px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      .join-newsletter {
        .join-newsletter-text {
          text-align: left;
          padding: 80px 10px;
          .section-sub-heading {
            font-size: 25px;
          }

          .heading-6 {
            font-size: 16px;
          }

          .subscribe-input {
            flex-direction: row;
            .button-1 {
              margin-top: 0px;
            }
          }
        }
      }
      .join-newsletter {
        grid-area: 1 / 1 / 3 / 4;
      }
      .first-image {
        grid-area: 1 / 4 / 3 / 5;
      }
      .second-image {
        grid-area: 1 / 5 / 2 / 6;
      }
      .third-image {
        grid-area: 1 / 6 / 2 / 7;
      }
      .fourth-image {
        grid-area: 2 / 5 / 3 / 6;
      }
      .fifth-image {
        grid-area: 2 / 6 / 3 / 7;
      }
    }
  }

  #top-rated-product {
    .section-heading {
      font-size: 45px;
    }
    .top-card-body {
      .top-card-row {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        .top-card {
          .top-card-text {
            .card-name {
              font-size: 15px;
            }
            .card-price {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  #time {
    .container {
      div {
        .heading-9 {
          width: 600px;
          font-size: 45px;
          line-height: 55px;
        }
        .time-button {
          // padding-bottom: 108px;
          text-align: center;
          font-family: "Playfair Display";
          .button-1 {
            margin: 0 auto;
          }
        }
      }
    }
  }

  #article {
    .section-heading {
      font-size: 45px;
    }
  }

  #footer {
    margin-top: 0px;
    .footer-items {
      .container {
        flex-direction: row;
        height: 518px;
        padding-top: 171px;
        text-align: left;
        justify-content: center;
        .footer-1 {
          width: 100%;
          text-align: left;
          .footer-heading {
            margin-bottom: 40px;
          }
        }
        .footer-2 {
          margin-top: 0px;
          width: 100%;
          .footer-heading {
            margin-bottom: 40px;
          }
        }
        .footer-3 {
          width: 100%;
          margin-top: 0px;
          .footer-heading {
            margin-bottom: 40px;
          }
          ul {
            li {
              justify-content: flex-start;
              align-items: center;
            }
          }
        }
        .footer-4 {
          width: 100%;
          margin-top: 0px;
          .footer-heading {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  #contact {
    margin-bottom: -80px;
    .container {
      min-height: 164px;
    }
  }
}

@media (min-width: 1080px) {
  #subscribe {
    .subscribe-body {
      .join-newsletter {
        .join-newsletter-text {
          padding: 80px 0px;
          .section-sub-heading {
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }

  #hero {
    height: 800px;
    background-position: center;

    .hero-text-wrapper {
      .hero-card {
        position: absolute;
        top: 0;
        text-align: left;
        height: 100%;
        max-width: 623px;
        .hero-text {
          .heading-1 {
            font-size: 30px;
          }
          .heading-2 {
            font-size: 70px;
            line-height: 93px;
          }
          .hero-button {
            margin-top: 50px;
          }
        }
      }
    }
  }

  #selling {
    .selling-card-text-1 {
      top: 20%;
      // left: 600px;
      .heading-3 {
        font-size: 40px;
        line-height: 60px;
      }
      .heading-4 {
        font-size: 80px;
        line-height: 150px;
      }
      .button-1 {
        font-size: 30px;
        height: 100px;
        min-width: 280px;
        padding: 0px 35px;
      }
    }

    .selling-card-text-2 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 70px;
        line-height: 30px;
        margin-bottom: 80px;
      }
      .heading-3 {
        font-size: 35px;
        line-height: 20px;
      }
    }

    .selling-card-text-3 {
      right: -40px;
      .heading-5 {
        font-size: 36px;
      }
    }

    .selling-card-text-4 {
      left: -40px;
      .heading-5 {
        font-size: 34px;
      }
    }

    .selling-card-text-5 {
      top: 220px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 70px;
        line-height: 30px;
        margin-bottom: 80px;
      }
      .heading-3 {
        font-size: 35px;
        line-height: 20px;
      }
    }

    .selling-card-text-6 {
      top: 52px;
      left: 76px;
      .heading-4 {
        font-size: 80px;
        line-height: 150px;
      }
      .heading-3 {
        font-size: 40px;
        line-height: 60px;
      }
      .button-1 {
        font-size: 30px;
        height: 100px;
        min-width: 280px;
        padding: 0px 35px;
      }
    }
  }

  #top-rated-product {
    .top-card-body {
      .top-card-row {
        .top-card {
          .top-card-text {
            .card-name {
              font-size: 18px;
            }
            .card-price {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  #article {
    .article-card-body {
      margin-top: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 0px;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }

  #selling {
    .selling-top,
    .selling-bottom {
      flex-direction: row;

      .selling-duo {
        margin: 0px 0;
      }
    }

    .marg-d-30 {
      margin-right: 30px;
    }

    .selling-card-text-1 {
      top: 61px;
      left: 350px;
      .heading-3 {
        font-size: 20px;
        line-height: 30px;
      }
      .heading-4 {
        font-size: 40px;
        line-height: 60px;
      }
      .button-1 {
        font-size: 18px;
        height: 60px;
        min-width: 170px;
        padding: 0px 35px;
      }
    }

    .selling-card-text-2 {
      top: 35%;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 0px;
      }
      .heading-3 {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .selling-card-text-3 {
      right: -80px;
      .heading-5 {
        font-size: 30px;
      }
    }

    .selling-card-text-4 {
      left: -80px;
      .heading-5 {
        font-size: 30px;
      }
    }

    .selling-card-text-5 {
      top: 113px;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      .heading-4 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 0px;
      }
      .heading-3 {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .selling-card-text-6 {
      .heading-4 {
        font-size: 40px;
        line-height: 60px;
      }
      .heading-3 {
        font-size: 20px;
        line-height: 30px;
      }
      .button-1 {
        font-size: 18px;
        height: 60px;
        min-width: 170px;
        padding: 0px 35px;
      }
    }
  }
}

.img-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  background: #f7f9f5;
  .overlay {
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(93, 136, 52, 0);
    transition: 0.8s ease;
    opacity: 0;
    scale: 0;

    .icon-wrapper {
      display: flex;
      gap: 20px;

      .tooltip-wrapper {
        position: relative;

        .my-tooltip {
          position: absolute;
          bottom: 82px;
          left: 50%;
          transform: translate(-50%, 50%);
          background: $green;
          min-width: 120px;
          max-width: 200px;
          border-radius: 50px;
          font-size: 14px;
          text-align: center;
          color: white;
          padding: 5px 10px 8px 10px;
          opacity: 0;
          transition: 0.5s ease;

          &:after {
            content: "";
            width: 15px;
            height: 15px;
            background: $green;
            rotate: 45deg;
            bottom: -7px;
            left: 50%;
            transform: translate(-50%, 50%);
            position: absolute;
          }
        }

        .icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: $green;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotateY(0deg);
          transition: 0.5s ease;
          color: white;
          font-size: 20px;

          &:hover + .my-tooltip {
            opacity: 1;
            transition: 0.5s ease;
          }
        }
        &:hover {
          .icon {
            background: white;
            transform: rotateY(-180deg);
            transition: 0.5s ease;
            color: $green;
          }
        }
      }
    }
  }
  .hovered-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.8s ease;
    opacity: 0;
    scale: 0;
  }
  &:hover {
    .overlay {
      transition: 0.8s ease;
      opacity: 1;
      scale: 0.9;
    }

    .hovered-img {
      transition: 0.8s ease;
      opacity: 1;
      scale: 1;
    }
  }
}

.filters-button-group {
  .card-type {
    border: none;
    background: transparent;
    font-weight: 600;

    @media (max-width: 576px) {
      margin: 0;
      padding: 0;
    }

    &.active {
      color: $green;
    }
  }
}

.item {
  min-height: 470px;

  .product-card {
    max-width: 310px;
    margin: 0 auto;
    .img-wrapper {
      width: 100%;
    }

    .best-card-text {
      text-align: center;
      .best-card-star {
        color: rgb(255, 196, 0);
      }
    }
  }
}

@media (max-width: 576px) {
  .item {
    min-height: 400px;
  }
}
